.header{
    height: 50px;
    box-shadow: 0px 0px 10px red;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.78);
}

body {
background-image: url(../images/bgnew.webp);
background-size:auto;
background-position: center;
background-repeat: no-repeat;
}

.menu{
    display: flex;
    gap: 1rem;
    font-weight: bold;
}

input{
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.436);
}

option{
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.436);
}