body{
    background-color: #f8f8ff;
}

.hero h1{
        color: #646681;

    }

.todolist{
    width: 50%;
    margin: auto;
}

.sorterbox{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.addbox button{
    cursor: pointer;
    padding: 10px 5px 10px 5px;
    border: none;
    background-color: #6370f0;
    border-radius: 10px;
    color: white;
    font-size: 12pt;
    font-weight: bold;
}

.listBox{
    margin-top: 10px;
    background-color: #ecedf6;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.notask{
    text-align: center;
    color: rgba(255, 255, 255, 0.592);
}

.todo{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.textsbox{
    display: flex;
    flex-direction: column;
}

.ch_texts_box{
    display: flex;
    align-items: center;
}

.buttonsbox{
    display: flex;
    align-items: center;
}



.addtodobox{
    background-color: #ecedf6;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.check input{
    height: 50px;
    width: 50px;
}

.op{
    opacity: 0.5;
}

.iconb{
    cursor: pointer;
    background-color: #ecedf6;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    margin-left: 10px;
    border-radius: 6px;
}

{}


@media only screen and (max-width: 600px) {
    .todolist {
            width: 90%;
    }
}